In [1]:
import pandas
import os
Folder_Path = r'C:\Users\nightrain\Desktop'
data = pandas.read_csv(Folder_Path+'\\'+'covid19.csv')

In [2]:
#help(data)
data.columns

Index(['date', 'country_name', 'new_confirmed', 'new_deceased',
       'new_recovered', 'new_tested', 'new_hospitalized_patients',
       'new_intensive_care_patients', 'new_ventilator_patients',
       'mobility_transit_stations', 'mobility_retail_and_recreation',
       'mobility_grocery_and_pharmacy', 'mobility_parks',
       'mobility_residential', 'mobility_workplaces', 'latitude', 'longitude',
       'average_temperature_celsius', 'minimum_temperature_celsius',
       'maximum_temperature_celsius', 'rainfall_mm', 'snowfall_mm'],
      dtype='object')

In [3]:
Data=data[['date', 'country_name', 'new_confirmed', 'new_deceased',
       'new_recovered', 'new_tested', 
       'latitude', 'longitude',
       'average_temperature_celsius', 'minimum_temperature_celsius',
       'maximum_temperature_celsius', 'rainfall_mm']]

In [4]:
Data=Data.dropna()

In [5]:
Data

,date,country_name,new_confirmed,new_deceased,new_recovered,new_tested,latitude,longitude,average_temperature_celsius,minimum_temperature_celsius,maximum_temperature_celsius,rainfall_mm
0,2020-07-24,United States of America,10.0,0.0,0.0,0.0,18.333333,-64.833333,29.456790,26.858025,32.104938,1.587500
1,2020-08-01,United States of America,15.0,0.0,3.0,153.0,18.333333,-64.833333,29.041667,26.902778,31.368056,0.063500
2,2020-08-07,United States of America,3.0,0.0,2.0,910.0,44.000000,-72.700000,18.405556,10.750000,26.894444,0.000000
4271,2020-08-06,United States of America,20.0,0.0,108.0,8989.0,41.600000,-72.700000,23.283951,17.796296,29.370370,0.028222
5561,2020-04-24,United States of America,18.0,0.0,0.0,59.0,13.500000,144.800000,29.111111,27.119048,31.373016,0.181429
...,...,...,...,...,...,...,...,...,...,...,...,...
2736420,2020-04-28,United States of America,3.0,0.0,0.0,55.0,18.333333,-64.833333,27.200000,25.177778,29.833333,0.177800
2736421,2020-05-02,United States of America,0.0,0.0,0.0,97.0,18.333333,-64.833333,28.277778,26.144444,30.327778,0.330200
2736422,2020-05-14,United States of America,0.0,0.0,0.0,19.0,18.333333,-64.833333,28.927778,26.705556,31.094444,0.101600
2736423,2020-07-14,United States of America,26.0,0.0,0.0,0.0,18.333333,-64.833333,29.708333,27.291667,32.458333,0.825500
2736424,2020-07-18,United States of America,14.0,0.0,7.0,489.0,18.333333,-64.833333,28.135802,25.055556,31.141975,1.185333